*.iml
.gradle
/local.properties

.idea/*
!.idea/copyright
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/sonarlint
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Custom
/sign
output.json
*.apk
*.aab
*.dex
.classpath

!.idea/icon.png
!.idea/icon_dark.png
!.idea/codeStyles
!.idea/dictionaries
!.idea/inspectionProfiles

version.txt
